# Vivado & sim
*.jou
*.log
*.str
*.rpx
*.wdb
*.vcd
*.saif
*.ltx
*.dcp
*.rpt
*.xsa
*.xpe
*.xpr
*.xise
*.cache/
*.runs/
*.sim/
*.ip_user_files/
*.hw/
*.sdk/
*.Xil/
*.gen/
*.srcs/sim_*/
*.srcs/ip/
*.srcs/sources_1/ip/*
*.str
*.pb

# Bitstreams e bins
*.bit
*.bin
*.mcs

# Outros grandes
*.ncd
*.ngc
